<h1>Users#index</h1>

<% if @users %>
  <div class="users-list">
    <% @users.each do |user| %>
      <a class="user-item" href="<%= user_path(user) %>">
        <p class="user-name"><%= user.name %></p>
        <p class="user-action-number"></p>
      </a>
    <% end %>
  </div>
<% end %>
