<div class="content-header">
  <h2>ユーザー一覧</h2>
</div>

<% if @users %>
  <div class="user-list">
    <% @users.each do |user| %>
      <a class="user-item" href="<%= user_path(user) %>">
        <p class="user-name"><%= user.name %></p>
        <p class="user-action-number">アクションプラン投稿数：<%= user.actions.count %></p>
      </a>
    <% end %>
  </div>
<% end %>
